.post-page-container {
width: 90%;
}


.video-background {
    position: relative;
    padding-bottom: 46%;
    width: 100vw;
    overflow: hidden;
  }
  
  .video-foreground,
  .video-foreground iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 50vh;
    transform: translate(-50%, -50%) scale(1.5); 
    pointer-events: none;
  }
/* Add more specific styles for other elements like lists, blockquotes, code, etc. */