.post-page-container {
width: 90%;
}

.pac-logo::after {
  background-image: none;
  background-color: none;
  border-radius: 10px;
}

.pac-item{
  font-family: 'Josefin Sans', sans-serif;
}

.leaflet-control{
  display: none;
}

.map-immobile {
  margin-top: 5em;
  width: 70%;
  height: 50vh;
  overflow: 'hidden';
}

.leaflet-container {
  border-radius: 15px;
}


.download-btn {
  background-image: url('../../assets/download-light.png');
  background-size: cover;
  display: block;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  color: var(--color-text);
  margin-right: 0.5em;
  border-radius: 10px;
  text-decoration: none;
  transition: 200ms ease-in;
}

.download-btn:hover {
  color: var(--ref-color);
  border: 1px solid var(--ref-color);
  transition: 200ms ease-in;
}

body[data-theme="dark"] .download-btn {
  background-image: url('../../assets/download-dark.png'); 
}


.video-background {
    position: relative;
    padding-bottom: 46%;
    width: 100vw;
    overflow: hidden;
  }
  
  .video-foreground,
  .video-foreground iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 50vh;
    transform: translate(-50%, -50%) scale(1.5); 
    pointer-events: none;
  }
/* Add more specific styles for other elements like lists, blockquotes, code, etc. */